<?xml version="1.0" encoding="utf-8"?>
<packages>
    <pacakge id="Microsoft.AspNetCore.Mvc.NewtonsoftJson" version="5.0.3" />
    <pacakge id="DynamicExpresso.Core" version="2.4.0" />
    <pacakge id="GlobalExceptionHandler" version="4.0.2" />
    <pacakge id="Marten" version="3.2.0" />
    <pacakge id="MediatR" version="9.0.0" />
    <pacakge id="MediatR.Extensions.Microsoft.DependencyInjection" version="9.0.0" />
    <pacakge id="Serilog.AspNetCore" version="3.4.0" />
    <pacakge id="Serilog.Sinks.ColoredConsole" version="3.0.1" />
    <pacakge id="Steeltoe.Discovery.ClientBase" version="3.1.0" />
    <pacakge id="Steeltoe.Discovery.Eureka" version="3.1.0" />
</packages>