<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="Hangfire.AspNetCore" version="1.7.19" />
    <package id="Microsoft.AspNetCore.Mvc.NewtonsoftJson" version="5.0.3" />
    <package id="Dapper" version="2.0.78" />
    <package id="GlobalExceptionHandler" version="4.0.2" />
    <package id="Hangfire.PostgreSql" version="1.8.2" />
    <package id="Hangfire.PostgreSql.NetCore" version="1.4.3" />
    <package id="Marten" version="3.2.0" />
    <package id="MediatR" version="9.0.0" />
    <package id="MediatR.Extensions.Microsoft.DependencyInjection" version="9.0.0" />
    <package id="Microsoft.EntityFrameworkCore.SqlServer" version="5.0.3" />
    <package id="RawRabbit.DependencyInjection.ServiceCollection" version="2.0.0-rc5" />
    <package id="RawRabbit.Operations.Subscribe" version="2.0.0-rc5" />
</packages>