<?xml version="1.0" encoding="utf-8"?>
<packages>
    <pacakge id="Ensure.That" version="10.0.0" />
    <pacakge id="MediatR" version="9.0.0" />
    <pacakge id="MediatR.Extensions.Microsoft.DependencyInjection" version="9.0.0" />
    <pacakge id="Microsoft.AspNetCore.Mvc.NewtonsoftJson" version="5.0.3" />
    <pacakge id="Microsoft.EntityFrameworkCore.InMemory" version="5.0.3" /> 
    <pacakge id="Microsoft.EntityFrameworkCore.Relational" version="5.0.3" />   
    <pacakge id="Microsoft.EntityFrameworkCore.SqlServer" version="5.0.3" />
    <pacakge id="Steeltoe.Discovery.ClientBase" version="3.1.0" />
    <pacakge id="Steeltoe.Discovery.Eureka" version="3.1.0" />
</packages>