<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="Microsoft.AspNetCore.Mvc.NewtonsoftJson" version="5.0.3" />
    <package id="MediatR.Extensions.Microsoft.DependencyInjection" version="9.0.0" />
    <package id="NHibernate" version="5.3.6" />
    <package id="Npgsql" version="5.0.3" />
    <package id="Polly" version="7.2.1" />
    <package id="RawRabbit.DependencyInjection.ServiceCollection" version="2.0.0-rc5" />
    <package id="RawRabbit.Operations.Tools" version="2.0.0-rc5" />
    <package id="RestEase" version="1.6.0" />
    <package id="Serilog.AspNetCore" version="3.4.0" />
    <package id="Serilog.Sinks.ColoredConsole" version="3.0.1" />
    <package id="Steeltoe.Discovery.ClientBase" version="3.1.0" />
    <package id="Steeltoe.Discovery.Eureka" version="3.1.0" />
</packages>