<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="System.IdentityModel.Tokens.Jwt" version="6.8.0" />
    <package id="Microsoft.AspNetCore.Authentication.JwtBearer" version="5.0.3" />
    <package id="Microsoft.AspNetCore.Mvc.NewtonsoftJson" version="5.0.3" />
    <package id="Ocelot" version="17.0.0" />
    <package id="Ocelot.Cache.CacheManager" version="17.0.0" />
    <package id="Ocelot.Provider.Eureka" version="17.0.0" />
    <package id="Steeltoe.Discovery.Eureka" version="3.1.0" />
</packages>